In [23]:
import numpy as np
import pandas as pd
import os
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [3]:
cars = pd.read_csv("cars.csv")

In [4]:
cars.head(2)

,Id,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,1,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,2,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US

In [5]:
x = cars[['Weight']]
y = cars[['MPG']]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size = 0.3,random_state = 100)

In [7]:
y_train = np.array(y_train)

In [8]:
index = 0
output = []
min_dist = math.inf
for j in range(len(X_test)):
    for i in range(len(X_train)):
        distance = np.sqrt(np.sum((X_test.iloc[j,] - X_train.iloc[i,])**2))
        if distance < min_dist:
            min_dist = distance
            index = i
        else:
            continue
    min_dist = math.inf
    
    output.append(y_train[index][0])

In [9]:
y_test = np.array(y_test)

In [10]:
original = []
for i in range(len(y_test)):
    original.append(y_test[i][0])

In [11]:
for i in range(len(output)):
    print(original[i],',',output[i])

20.5 , 19.2
34.5 , 33.8
34.0 , 22.0
28.0 , 25.0
15.0 , 18.0
23.0 , 26.8
19.2 , 14.0
21.0 , 26.0
18.5 , 17.5
24.5 , 27.0
37.2 , 31.8
16.0 , 13.0
13.0 , 12.0
36.1 , 36.1
24.0 , 32.0
28.0 , 21.5
26.5 , 27.5
19.0 , 24.2
23.0 , 21.0
25.0 , 25.0
23.2 , 27.0
24.0 , 26.8
23.0 , 29.0
25.0 , 29.0
19.0 , 16.0
16.0 , 15.5
19.0 , 26.4
19.2 , 17.5
25.8 , 32.9
24.0 , 30.0
27.0 , 36.4
17.0 , 18.0
21.0 , 26.4
33.5 , 26.0
15.0 , 13.0
29.0 , 29.0
19.0 , 18.0
33.5 , 27.5
20.6 , 19.1
14.0 , 15.5
20.8 , 0.0
24.5 , 29.0
15.0 , 17.6
17.5 , 27.2
36.0 , 25.0
19.0 , 43.4
15.0 , 18.0
30.0 , 32.8
25.0 , 22.0
19.0 , 16.0
34.2 , 27.0
36.0 , 30.0
25.4 , 17.5
11.0 , 16.5
13.0 , 16.5
16.0 , 18.0
15.0 , 17.0
32.3 , 30.0
13.0 , 15.0
13.0 , 14.0
22.0 , 22.0
20.2 , 21.0
29.0 , 39.0
20.5 , 19.2
18.5 , 20.0
26.0 , 32.2
31.0 , 26.0
33.0 , 33.0
35.1 , 39.1
30.5 , 33.0
34.1 , 32.8
23.0 , 16.0
15.5 , 13.0
20.6 , 19.9
24.0 , 20.0
32.0 , 31.0
15.0 , 15.5
19.8 , 18.0
11.0 , 12.0
28.0 , 25.0
22.5 , 0.0
30.7 , 15.0
18.0 , 28.0
13.0 , 16.0
21.0 , 28.0
46.6 , 40.8
14.0 , 14.0
13.0 , 13.0
17.6 , 17.0
14.5 , 17.5
12.0 , 12.0
31.3 , 25.0
16.0 , 17.5
20.3 , 22.0
24.0 , 37.0
30.5 , 37.7
22.0 , 20.0
19.4 , 17.6
32.7 , 20.0
30.0 , 29.9
31.0 , 38.1
38.0 , 25.0
16.0 , 14.0
28.0 , 29.0
14.0 , 16.9
14.0 , 13.0
17.0 , 18.2
25.0 , 31.0
19.0 , 25.4
34.4 , 31.5
16.0 , 18.0
24.0 , 36.0
14.0 , 0.0
28.1 , 22.0
15.0 , 20.2
27.2 , 24.0
31.0 , 39.1
24.0 , 26.4
22.0 , 21.1
34.0 , 26.0
13.0 , 14.0
18.0 , 17.0

In [27]:
#Evaluvation: MSE
model_mse = mean_squared_error(y_test, output)
print(model_mse)

40.34950819672131